<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
	<h1>
		Welcome to {{ title }}!
	</h1>
	<img width="100" alt="Angular Logo"
		src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>

<div class="container p-2">
	<form class="was-validated">
		<label class="text-bold"> Lineas cplx-autocomplete with params</label> {{inputselected | json}}
		<cplx-autocomplete [data]="lista" [filter]="true" (selectedObject)="inputselected = $event"
			[params]="['descripcion']" [reflectvalue]="'AEI OCEAN SERVICES'" [reflectparam]="'id'"
			[placeholder]="'Buscar ...'" [required]='true'>
		</cplx-autocomplete>
	</form>
</div>
<hr>
<div class="container p-2">
	<label class="text-bold"> cplx-autocomplete without filter</label> {{inputselected2 | json}} {{loading | json}}
	<cplx-autocomplete [data]="ls_empresas" [placeholder]="'Buscar ...'" [params]="['razonsocial']" [loading]="loading"
		(textChange)="buscar_empresas($event)" (selectedObject)="inputselected2 = $event" [reflectparam]="'razonsocial'"
		[reflectvalue]="'20546700365'" [required]='true'>
	</cplx-autocomplete>
</div>
<hr>
<div class="container p-2">
	{{formulario.value | json}}
	<form [formGroup]="formulario" class="was-validated">
		<label class="text-bold"> cplx-autocomplete without filter</label> {{inputselected3 | json}} {{loading | json}}
		<cplx-autocomplete [data]="lista" [filter]="true" [placeholder]="'Buscar ...'" [params]="['descripcion']"
			formControlName="value" [(loading)]="loading" (selectedObject)="inputselected3 = $event"
			[reflectparam]="'descripcion'" [reflectvalue]="'AEI OCEAN SERVICES'" [required]="true">
		</cplx-autocomplete>
	</form>
</div>

<button (click)="go_alert(1)" class="btn btn-success mx-2">Alert success </button>
<button (click)="go_alert(2)" class="btn btn-danger mx-2">Alert danger </button>
<button (click)="go_alert(4)" class="btn btn-info mx-2">Alert info </button>
<button (click)="go_alert(3)" class="btn btn-warning mx-2">Alert warning </button>
<button (click)="gotodo()" class="btn btn-warning mx-2">Alert TODO </button>
<cplx-alert [timeout]="1000" [alertas]="alertas"></cplx-alert>


<div class="container-fluid">
	<cplx-datatable [content]="cabeceras" [header]="cabeceras" [itemlist]="data" [config]="configtable"
		[pages]="[5,10,20,30]">
	</cplx-datatable>
</div>
